:root {
	--white-color: #fff;
	--light-blue: #377dff;
	--dark-whiteColor: rgba(255, 255, 255, 0.13);
	--light-black: #141d28;
	--dark-blue: #233142;
	--header-bg: #0c1117;
	--green-color: #43a548;
	--gray-dark-color-: #2c2b35;
	--blue-color: #377dff;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

button {
	border: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 0%;
	color: var(--white-color#fff);
	overflow-x: hidden;
}

.container {
	max-width: 1352px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
}

/* HEADER START */

.site-header {
	background-color: var(--white-color);
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
	top: 0;
}

.site-header__container {
	display: flex;
	align-items: center;
}

.logo__link {
	display: flex;
	align-items: center;
	margin-right: auto;
}

.logo__link:hover {
	color: var(--green-color);
}

.logo__link:active {
	opacity: 0.6;
	transition: all 0.3s;
}

.site-header__title {
	font-size: 24.14px;
	line-height: 139%;
	letter-spacing: 0px;
	text-align: justify;
	color: var(--light-black);
}
.site-header__list {
	display: flex;
	align-items: center;
	margin-right: 51px;
}

.site-header__item:not(:last-child) {
	margin-right: 51px;
}
.site-header__link {
	font-weight: 400;
	font-size: 14px;
	line-height: 139%;
	letter-spacing: 0px;
	text-align: justify;
	color: var(--light-black);
}

.site-header__link:hover {
	color: var(--green-color);
}

.site-header__link:active {
	opacity: 0.4;
}

.btn {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	border-radius: 1000px;
	color: var(--white-color);
	background-color: var(--green-color);
	font-weight: 600;
	font-size: 14px;
	line-height: 139%;
	letter-spacing: 0px;
	text-align: justify;
	color: var(--white-color);
}

.btn:hover {
	color: var(--gray-dark-color-);
	background-color: var(--blue-color);
}
.btn:active {
	opacity: 0.6;
}

.hero {
	margin-top: 5.5rem;
	margin-bottom: 6rem;
	color: var(--dark-blue);
}
.hero__container {
	display: flex;
	align-items: center;
}

.hero__title {
	font-weight: 600;
	font-size: 4rem;
	line-height: 1.4;
	letter-spacing: 0px;
	margin-top: 135px;
	margin-bottom: 20px;
	color: var(--gray-dark-color-);
}
.hero__text {
	font-weight: 400;
	font-size: 20px;
	line-height: 139%;
	letter-spacing: 0px;
	margin-bottom: 30px;
	color: var(--gray-dark-color-);
}
.btn3 {
	height: 42px;
	padding: 10px 30px;
	border-radius: 1000px;
	font-size: 16px;
	line-height: 139%;
	letter-spacing: 0px;
	text-align: justify;
	color: #f7f8f8;
	background-color: var(--green-color);
}

.btn3:hover {
	color: #233142;
}
.btn3:active {
	transition: all 0.5s ease;
	opacity: 0.6;
}

.hero__img {
	display: flex;
}

.main-info {
	padding-top: 6rem;
	padding-bottom: 10.2rem;
}

.main-info__list {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin-bottom: 4rem;
}

.main-info__item {
	max-width: 646px;
	width: 100%;
	padding: 2rem;
	border-radius: 6rem;
	background-color: #0000000d;
}

.main-info__item-mini {
	max-width: 424px;
	border-radius: 4rem;
	background-color: #0000000d;
}

.main-info__item-top {
	display: flex;
	align-items: center;
	margin-bottom: 1.4rem;
}

.main-info__img {
	width: 52px;
	height: 52px;
	gap: 10px;
	border-radius: 4px;
	padding: 0.4rem;
	margin-right: 1rem;
	background-color: #fdead4;
}

.main-info__item-title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.4;
}

.main-info__item-text {
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.4;
	margin-bottom: 3.2rem;
	color: #6f7973;
	background-color: transparent;
}

.mainn-info__item-btn {
	gap: 10px;
	border-radius: 2.1rem;
	border-width: 0.1rem;
	padding-top: 1rem;
	padding-right: 3rem;
	padding-bottom: 1rem;
	padding-left: 3rem;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 1.4;
	cursor: pointer;
	transition: all 0.4s ease;
	border: 1px solid var(--green-color);
	color: var(--green-color);
}

.mainn-info__item-btn:hover {
	background-color: var(--green-color);
	color: var(--white-color);
}

.mainn-info__item-btn:active {
	opacity: 0.6;
}

.main-info__ad {
	background-image: linear-gradient(252.7deg, #ebf5eb 17.34%, #effbf0 90.57%);
	padding: 3.3rem 3.2rem;
	border-radius: 4rem;
	box-shadow: 0px 4px 12px 0px #0000000d;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-info__ad-gift {
	display: flex;
	align-items: center;
}

.main-info__ad-img {
	width: 40px;
	height: 40px;
	margin-right: 2rem;
}

.main-info__ad-text {
	font-weight: 500;
	font-size: 2rem;
	line-height: 1.4;
	letter-spacing: 0px;
	padding: 3.3rem 3.3rem;
	margin-left: 1rem;
	color: var(--green-color);
}

.btn {
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 1.4;
	letter-spacing: 0px;
	text-align: justify;
}

.main-info__ad-btn {
	border-radius: 4rem;
	margin-bottom: 10px;
}

.main-info__ad-btn:hover {
	background: linear-gradient(100deg, #43a548 4.14%, #52e259 108%);
}

.main-info__ad-btn:active {
	opacity: 0.6;
	transition: all 0.5s ease;
}
/* MEDIA */
@media screen and (max-width: 1124px) {
	.hero {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}

	.hero__title {
		font-weight: 600;
		font-size: 4rem;
		line-height: 1.4rem;
	}
	.hero__text {
		font-weight: 300;
		font-size: 2rem;
		line-height: 1.4rem;
	}
}
@media screen and (max-width: 1024px) {
	.site-header__title {
		font-size: 2.4rem;
		line-height: 1.4;
	}
	.site-header__list {
		margin-right: 5.1rem;
	}

	.site-header__item:not(:last-child) {
		margin-right: 5.1rem;
	}
	.site-header__link {
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 1.4;
	}

	.btn {
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 1.4;
	}
}
